<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Registro Academias</title>
<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/loginStyle.css}" />

</head>
<body>
	<section class="vh-100">
		<div class="container py-2 h-100">
			<div
				class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-12 col-md-8 col-lg-6 col-xl-5">
					<div class="card shadow-2-strong" style="border-radius: 1rem;">
						<div class="card-body p-3 text-center">

							<h4 class="mb-2">U-HELP Academias</h4>
							<img class="logo mb-3" th:src="@{/img/logo.png}" alt="icono" />

							<form th:action="@{/registros/registroA}" th:object="${a}"
								method="post">
								<div class="col-sm-12">
									<input placeholder="Nombre de la Academia" type="text"
										th:field="*{nombre}" class="form-control" />
								</div>
								<br>
								<div class="col-sm-12">
									<input placeholder="Nombre usuario" type="text"
										th:field="*{nickname}" class="form-control" />
								</div>
								<br>
								<div class="col-sm-12">
									<input placeholder="Correo electrónico" type="text"
										th:field="*{correo}" class="form-control" />
								</div>
								<br>
								<div class="col-sm-12">
									<input placeholder="Contraseña" type="password"
										th:field="*{password}" class="form-control" />
								</div>
								<br>
								<div class="col-sm-12">
									<input placeholder="Telefono" type="text" class="form-control"
										th:field="*{telefono}" />
								</div>
								<br>
								<div class="col-sm-12">
									<select class="form-control" th:field="*{sede}">
										<option th:each="s:${lstSedes}" th:value="${s.idSede}"
											th:text="${s.nombre}"></option>
									</select>
								</div>
								<br>
								<br> <input class="btn btn-lg btn-block boton mt-2 mb-2" type="submit" value="Registrar"/>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>