<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>


<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
	<div class="contenedor">
		<div class="container">
			<a class="first" th:href="@{/registros/academia}"> <img
				class="img-back" th:src="@{/img/academias.jpg}" alt="Academias" />
				<div class="centrar-left">Academias</div>
			</a>

			<div class="container-info">
				<a class="second" th:href="@{/registros/estudiante}"> <img
					class="img-es" th:src="@{/img/estudiante.jpg}" alt="Estudiantes" />
					<div class="centrar-rigth">Estudiantes</div></a>
			</div>
			
		</div>
	</div>

	<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>