<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master :: head">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<header th:replace="master/master :: header"></header>

<div class="container">
		<div>
		<h2>Modificar Pago</h2>
			<form th:action="@{/pagos/modificar}" th:object="${pago}" method="post">
				<div class="col-sm-12">
					<label class="form-label">Id: </label> <input class="form-control"
						type="text" th:field="*{idPago}" />
				</div>
				<div class="col-sm-12">
					<label class="form-label">Método de pago: </label> <input
						class="form-control" type="text" th:field="*{nombre}" />
				</div>
				<div class="col-sm-12">
					<label class="form-label">Numero de tarjeta: </label> <input
						class="form-control" type="text" th:field="*{numeroTarjeta}" />
				</div>
				<div class="col-sm-12">
					<label class="form-label">Código de 3 dígitos </label> <input
						class="form-control" type="text" th:field="*{codigoTarjeta}" />
				</div>
				<div class="col-sm-12">
					<label class="form-label">Código presencial </label> <input class="form-control"
						type="text" th:field="*{codigoPresencial}" />
				</div>
				<div class="col-sm-12 form-control">
					<input class="btn btn-primary" type="submit" value="Registrar" />
				</div>
			</form>
		</div>
	</div>
<footer th:replace="master/master :: resource"></footer>
</body>
</html>