<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="master/master :: head">
<meta charset="UTF-8">
<title>Modalidad</title>
</head>
<body>
	<header th:replace="master/master :: header"></header>
	<div class="row  mx-auto mt-3 container">
		<h3>Detalle de Ordenes</h3>
		<div class="col-8">
			<div>
				<div class="table-responsive">
					<table class="table table-success table-striped">
						<thead>
							<tr>
								<th>Curso</th>
								<th>Precio</th>
								<th>Vacantes</th>
								<th>Total</th>

							</tr>
						</thead>
						<tbody>
							<tr th:each="c : ${listOrden}">
								<td th:text="${c.nombre}"></td>
								<td th:text="${c.precio}"></td>
								<td th:text="${c.cantidad}"></td>
								<td th:text="${c.total}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div>
				<h4>.</h4>
			</div>
		</div>

		<div class="col-4">
			<div class="container border border-primary">
				<h2 class="form-label text-center">Sub Total</h2>
				<h5 class="form-label text-center" th:text="${orden.total}"></h5>
				<div class="col-3 mt-5 border mx-auto">

					<a th:href="@{/compras/comprar}" type="button"
						class="btn btn-danger">Confirmar Compra</a>
				</div>
			</div>
		</div>
	</div>

	<div class="container">

		<div class="col-6 mx-auto mt-5 p-4 border">
			<div class="col-12 mt-5 border mx-auto">
				<h4 class="form-label text-center">Método de Pago YAPE: Código
					QR</h4>
				<div class="mx-auto">
					<img class="ms-5" alt="imagen de QR" th:src="@{/img/dinoQR.jpg}"
						width="200" height="200">
				</div>

			</div>
		</div>
	</div>



	<!-- 
	<div class="container">
		<div th:switch="${tipoPago.tipo}">
			<div th:case="'YAPE'">
				<div class="col-4 mx-auto mt-5 p-4 border">
					<form th:action="@{/pagos/guardar}" th:object="${pago}"
						method="post">
						<h2 class="form-label text-center">Pago: YAPE</h2>
							<input class="form-control" type="hidden" th:field="*{idPago}" />
							<input class="form-control" type="hidden" th:field="*{nombre}" />
						<div class="ms-4">
							<img class="ms-5" alt="imagen de QR" th:src="@{/img/dinoQR.jpg}"
								width="200" height="200">
						</div>
						<div class="col-2 mt-5 border mx-auto">
							<input class="btn btn-primary" type="submit" value="Registrar" />
						</div>
					</form>
				</div>
			</div>
			<div th:case="'Tarjeta'">
				<div class="col-4 mx-auto mt-5 p-4 border">
					<form th:action="@{/pagos/guardar}" th:object="${pago}"
						method="post">
						<h2 class="form-label text-center">Pago: Tarjeta</h2>
							<input type="hidden" th:field="*{idPago}" />
							<input type="hidden" th:field="*{nombre}" />
						<div >
							<label class="form-label">Número de tarjeta: </label> <input
								class="form-control" type="text" th:field="*{numeroTarjeta}" />
						</div>
						<div>
							<label class="form-label">Código de 3 dígitos </label> <input
								class="form-control" type="text" th:field="*{codigoTarjeta}" />
						</div>
						<div class="col-2 mt-5 mx-auto">
							<input class="btn btn-primary" type="submit" value="Registrar" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</div> -->

	<footer th:replace="master/master :: resource"></footer>
</body>
</html>