<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master :: head">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<header th:replace="master/master :: header"></header>

	<div class="container mx-auto mt-4 ">
		<h3>Listado de Carreras</h3>
		<div th:if="${lstcarreras != null and !lstcarreras.empty}">
			<div class="table-responsive">
				<table class="table table-dark table-hover">
					<thead>
						<tr>
							<th>ID</th>
							<th>Nombre</th>
							<th>Modalidad de Carrera</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="p:${lstcarreras}">
							<td th:text="${p.idCarrera}"></td>
							<td th:text="${p.nombre}"></td>
							<td th:text="${p.modalidad}"></td>
							<td><a type="button" class="btn btn-primary"
							 th:href="@{'/carreras/editar/'+${p.idCarrera}}">Editar</a>
							<td><a type="button" class="btn btn-danger"
							 th:href="@{'/carreras/eliminar/'+${p.idCarrera}}">Eliminar</a>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div th:if="${lstcarreras == null or lstcarreras.empty}">
			<h4>No hay carreras registradas</h4>
		</div>
	</div>

	<footer th:replace="master/master :: resource"></footer>
</body>
</html>