<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="master/master :: head">
<meta charset="UTF-8">
<title>Detalle Curso</title>

</head>
<body>
	<header th:replace="master/master :: header"></header>
	<div th:each="c : ${lstcursos}" class="list-group-item bg-dark">
		<div class="container mt-3">
			<div class="card" style="width: 40rem;">
				<div class="row g-0">
					<div class="col-4">
						<img src="/img/abrazo.jpg" class="card-img-top"
							alt="foto referencia">
					</div>

					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title" th:text="'Curso: '+${c.nombre}"></h5>
							<h6 class="card-text"
								th:text="'Inicio: '+${#dates.format(c.inicio,'dd/MM/yyyy')}"></h6>
							<p class="card-text"
								th:text="'Culminación: '+${#dates.format(c.culminacion,'dd/MM/yyyy')}"></p>
							<p class="card-text"
								th:text="'Modalidad: '+${c.modalidad.tipo}+' - '+${c.modalidad.formato}"></p>
							<p class="card-text" th:text="'Vacantes: '+${c.vacantes}"></p>
							<div class="d-flex justify-content-end">
								<small class="text-muted" th:text="'S/.'+*{c.precio}+'0'"></small>
							</div>
							<div class="d-flex justify-content-end">
								<small class="text-muted" th:text="*{c.carrera.nombre}"></small>
							</div>
						</div>
						<div class="card-footer">
							<a href="#" class="btn btn-danger">Eliminar</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="master/master :: resource"></footer>
</body>
</html>