<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master :: head">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<header th:replace="master/master :: header"></header>

	<div class="container mx-auto mt-4 ">
		<h3>Listado de Cursos</h3>
		<div th:if="${lstcursos != null and !lstcursos.empty}">
			<div class="table-responsive">
				<table class="table table-dark table-hover">
					<thead>
						<tr>
							<th>ID</th>
							<th>Nombre</th>
							<th>Fecha Inicio</th>
							<th>Fecha Culminación</th>
							<th>Precio</th>
							<th>Vacantes</th>
							<th>Modalidad</th>
							<th>Carrera</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="c:${lstcursos}">
							<td th:text="${c.idCurso}"></td>
							<td th:text="${c.nombre}"></td>
							<td th:text="${#dates.format(c.inicio,'dd/MM/yyyy')}"></td>
							<td th:text="${#dates.format(c.culminacion,'dd/MM/yyyy')}"></td>
							<td th:text="${c.precio}"></td>
							<td th:text="${c.vacantes}"></td>
							<td th:text="${c.modalidad.tipo}+' - '+${c.modalidad.formato}"></td>
							<td th:text="${c.carrera.nombre}"></td>
							<td><a type="button" class="btn btn-primary" 
							th:href="@{'/cursos/editar/'+${c.idCurso}}">Editar</a>
							<td><a type="button" class="btn btn-danger" 
							th:href="@{'/cursos/eliminar/'+${c.idCurso}}">Eliminar</a>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div th:if="${lstcursos == null or lstcursos.empty}">
			<h4>No hay cursos registrados</h4>
		</div>
	</div>

	<footer th:replace="master/master :: resource"></footer>
</body>
</html>