<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Update Curso</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/botones.css}" />
</head>
<body>
	<header th:replace="master/master :: header"></header>

	<div class="container mt-3 row mx-auto">
		<h2 class="text-center">Actualizar docente</h2>
		<div class="container text-white col-5 rounded p-5 fondo">
			<form th:action="@{/cursos/modificar}" th:object="${c}" method="post">
				<div class="col-sm-12">
					<input class="form-control" type="hidden" th:field="*{idCurso}" />
				</div>
				<div class="col-sm-12">
					<label class="form-label">Curso: </label> <input
						class="form-control" type="text" th:field="*{nombre}" />
				</div>
				<div class="col-sm-12">
					<label class="form-label">Inicio de Curso: </label> <input
						class="form-control" type="date" th:field="*{inicio}" />
				</div>
				<div class="col-sm-12">
					<label class="form-label">Culminación de Curso: </label> <input
						class="form-control" type="date" th:field="*{culminacion}" />
				</div>
				<div class="col-sm-12">
					<label class="form-label">Precio: </label> <input
						class="form-control" type="text" th:field="*{precio}" />
				</div>
				<div class="col-sm-12">
					<label class="form-label">Vacantes: </label> <input
						class="form-control" type="text" th:field="*{vacantes}" />
				</div>
				<div class="col-sm-12">
					<label class="form-label">Modalidad: </label> <select
						name="selectModalidad" class="form-control"
						th:field="*{modalidad.idModalidad}">
						<option th:each="m:${lstmodalidades}" th:value="${m.idModalidad}"
							th:text="${m.tipo}+' - '+${m.formato}"
							th:selected="(${m.idModalidad}==*{modalidad.idModalidad})"></option>
					</select>
				</div>
				<div class="col-sm-12">
					<label class="form-label">Docente: </label> <select
						name="selectPerson" class="form-control"
						th:field="*{docente.idDocente}">
						<option th:each="c:${lstdocentes}" th:value="${c.idDocente}"
							th:text="${c.nombre}+' - '+${c.apellido}"></option>
					</select>
				</div>
				<div class="col-sm-12">
					<label class="form-label">Carrera: </label> <select
						name="selectPerson" class="form-control"
						th:field="*{carrera.idCarrera}">
						<option th:each="c:${lstcarreras}" th:value="${c.idCarrera}"
							th:text="${c.modalidad}+' - '+${c.nombre}"
							th:selected="(${c.idCarrera}==*{carrera.idCarrera})"></option>
					</select>
				</div>
				<div class="col-sm-12 mt-4  row">
					<input class="mt-2 p-2 boton" type="submit" value="Registrar" />
				</div>
			</form>
		</div>
	</div>

	<footer th:replace="master/master :: resource"></footer>
</body>
</html>