<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master :: head">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<header th:replace="master/master :: header"></header>

	<div class="container">
		<div class="col-5 mx-auto mt-5 p-4 border">
		<h2 class="form-label text-center">Modificar Curso</h2>
			<form th:action="@{/cursos/modificar}" th:object="${c}"
				method="post">
				<div class="col-sm-12">
					<input class="form-control" type="hidden" th:field="*{idCurso}" />
				</div>
				<div class="col-sm-12">
					<label class="form-label">Curso: </label> <input
						class="form-control" type="text" th:field="*{nombre}" />
				</div>
				<div class="col-sm-12">
					<label class="form-label">Inicio de Curso: </label> <input
						class="form-control" type="date" th:field="*{inicio}" />
				</div>
				<div class="col-sm-12">
					<label class="form-label">Culminación de Curso: </label> <input
						class="form-control" type="date" th:field="*{culminacion}" />
				</div>
				<div class="col-sm-12">
					<label class="form-label">Precio: </label> <input
						class="form-control" type="text" th:field="*{precio}" />
				</div>
				<div class="col-sm-12">
					<label class="form-label">Vacantes: </label> <input
						class="form-control" type="text" th:field="*{vacantes}" />
				</div>
				<div class="col-sm-12">
					<label class="form-label">Modalidad: </label> <select
						name="selectModalidad" class="form-control" 
						th:field="*{modalidad.idModalidad}">
						<option th:each="m:${lstmodalidades}" 
							th:value="${m.idModalidad}"
							th:text="${m.tipo}+' - '+${m.formato}"
							th:selected="(${m.idModalidad}==*{modalidad.idModalidad})"></option>
					</select>
				</div>
				<div class="col-sm-12">
					<label class="form-label">Carrera: </label> <select
						name="selectPerson" class="form-control"
						th:field="*{carrera.idCarrera}">
						<option th:each="c:${lstcarreras}"
							th:value="${c.idCarrera}"
							th:text="${c.modalidad}+' - '+${c.nombre}"
							th:selected="(${c.idCarrera}==*{carrera.idCarrera})"></option>
					</select>
				</div>
				<div class="col-3 mt-5 border mx-auto">
					<input class="btn btn-primary" type="submit" value="Registrar" />
				</div>
			</form>
		</div>
	</div>

	<footer th:replace="master/master :: resource"></footer>
</body>
</html>